pre {
    background-color: #F5FCFF;
}

code {
    background-color: #F5FCFF;
    color: #002288;
}

.dark pre {
    background-color: #333840;
}

.dark code {
    background-color: #333840;
    color: #ddeeff;
}

.sourceCode .kw, .sourceCode .cf { color: #a621ee; }
.dark .sourceCode .kw, .dark .sourceCode .cf { color: #a8f; }

.sourceCode .dt { color: #268BD2; }
.dark .sourceCode .dt { color: #6af; }

.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #AE81FF; }
.dark .sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #d6d; }

.sourceCode .ch, .sourceCode .st { color: #37ad2d; }
.dark .sourceCode .ch, .dark .sourceCode .st { color: #88d444; }

.sourceCode .co { color: #7E8E91; }

.sourceCode .ot { color: #EB005B; }
.dark .sourceCode .ot { color: #e78; }

.sourceCode .al { color: #A6E22E; font-weight: bold; }

.sourceCode .fu { color: #333; }
.dark .sourceCode .fu { color: #dbb; }

.sourceCode .er { color: #E6DB74; font-weight: bold; }
