<!DOCTYPE html>
<html lang="{{lang}}" dir="{{dir}}">
<head profile="http://www.w3.org/2005/10/profile">
  <meta name="description" content="{{siteTitle}}">
  <meta name="author" content="{{author}}">
  {{>site/templates/meta-data.html}}
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/syntax.css">
  <meta property="og:title" content="{{title}}" />
  <meta property="og:image" content="https://yairchu.github.io/images/{{image}}" />
  {{>site/templates/common-head.html}}
</head>
<body>
  {{>site/templates/header.html}}

<div id="page">
  <div class="wrapper">
    <div class="masthead">
      <span class="title">
        {{title}}
      </span>

      {{#image}}
      <img class="post-image" src="/images/{{image}}">
      {{/image}}
      {{#author}}
      <span class="byline">by {{author}}</span>
      {{/author}}
      <span class="date">{{date}}</span>
      <div class="metadata">
      </div>
      <div class="tags">
        {{#tags}}
        <a href="/tag/{{.}}" class="tag">{{.}}</a>
        {{/tags}}
      </div>
    </div>
  </div>
  <article class="post">
    {{{content}}}

    <br>
    <br>

    <!--Share buttons-->
    <div class="social-buttons">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Check out: {{title}} - " data-via="{{twitterHandle}}">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      {{#twitterHandle}}
      <a href="https://twitter.com/{{twitterHandle}}" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @{{twitterHandle}}</a>
      {{/twitterHandle}}
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <div class="fb-like" data-href="{{siteUrl}}{{#stripExt}}{{url}}{{/stripExt}}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
</article>

</div>

{{>site/templates/footer.html}}
